body {background-color: #ebe6e0;}

#holder
{
  width:        600px;
  padding:      2px;
  border:       1px solid black;
  margin-left:  auto;
  margin-right: auto;
  text-align:   center;
}

.button {
  width: 80px;
  height: 80px;
  float: right;
  background-color: #933550;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: antiquewhite;
  margin: 4px 2px;
  border-radius: 50%
}


.button:hover {background-color: #933550e7}

.button:active {
  background-color: #933550c5;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

#lcd
{
  width:  600px;
  height: 432px;
}


#dbg
{
  width: 200px;
}